:root {
    --primary-color: #D93900;
}

.container {
    display: flex;
}

.aside-container ul {
    list-style-type: none;
}

.aside-container {
    padding: 2rem;
    border-right: 1px solid gray;
    width: 320px;
    height: 83vh;
}

.btn-create {
    padding: 1rem;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #ffffff;
    margin-bottom: 1rem;
}

.btn-create:hover {
    opacity: 0.8;
}

.aside-container li {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 20px;
}

.aside-container li:hover {
    background-color:  #333d4260;
}

main {
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 50vw;
}

main button {
    margin-top: 2rem;
}

/* MODEL */

.hide {
    display: none;
}

.model-container {
    background: #00000041;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.model-box {
    background-color: #ffffff;
    color: #000000;
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 30%;
    padding: 2rem;
    border-radius: 10px;
}

.model-box input {
    padding: 0.5rem;
    width: 90%;
    margin-top: 2rem;
}

.model-box button {
    padding: 1rem;
    border-radius: 5px;
}

.sucess-community {
    border: 1px solid green;
    padding: 1rem;
    border-radius: 5px;
    margin: 2rem 0;
}

.error-community {
    border: 1px solid red;
    padding: 1rem;
    border-radius: 5px;
    margin: 2rem 0;
}

.community {
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    cursor: pointer;
}