:root {
    --primary-color: #D93900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #0E1113;
    color: #ffffff;
}

/* LAYOUT */

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    border-bottom: 1px solid gray;
}

.search-container {
    background-color: #333D42;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 50px;
    width: 40%;
    opacity: 0.8;
}

.search-container:hover {
    opacity: 1;
}

.search-container input {
    background: none;
    border: 0;
    font-size: 1rem;
    color: #ffffff;
    margin-left: 1rem;
    width: 100%;
}

.search-container input:focus {
    outline: 0;
}

header button {
    border-radius: 50px;
    border: 0;
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 0 1.5rem;
    cursor: pointer;
}

header button:hover {
    opacity: 0.8;
}